In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [7]:
data = pd.read_csv('car_evaluation.csv')
data.head()
data.shape

(1728, 7)

In [2]:
enc = LabelEncoder()
data.buying = enc.fit_transform(data.buying)
data.maint = enc.fit_transform(data.maint)
data.lug_boot = enc.fit_transform(data.lug_boot)
data.safety = enc.fit_transform(data.safety)

In [4]:
data.head()

   buying  maint  doors  persons  lug_boot  safety outcome
0       3      3      2        2         2       1   unacc
1       3      3      2        2         2       2   unacc
2       3      3      2        2         2       0   unacc
3       3      3      2        2         1       1   unacc
4       3      3      2        2         1       2   unacc

In [6]:
X = data.iloc[:,:-1]
y = data.outcome
X.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=10)

In [9]:
X_train.shape

(1209, 6)

In [28]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report
model = SVC(kernel='rbf',C=10, gamma=0.8) 
# C -> Regularization parameter/ penalty parameter
# gamma -> Kernel Coefficient, Gaussian, 
model.fit(X_train,y_train)

SVC(C=10, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=0.8, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [29]:
y_predict = model.predict(X_test)
print(accuracy_score(y_test,y_predict))
pd.crosstab(y_test,y_predict)

0.992292870906

col_0    acc  good  unacc  vgood
outcome
acc      101     0      1      0
good       0    21      0      0
unacc      1     0    370      0
vgood      2     0      0     23

In [30]:
from sklearn.model_selection import GridSearchCV
parameters = { 'kernel':['rbf'],
                'C':[1,10,100,500,1000,10000],
                'gamma' : [0.01,0.1,0.5,1.0]}
grid_model = GridSearchCV(SVC(),parameters)
grid_model.fit(X_train, y_train)

GridSearchCV(cv=None, error_score='raise',
       estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'kernel': ['rbf'], 'C': [1, 10, 100, 500, 1000, 10000], 'gamma': [0.01, 0.1, 0.5, 1.0]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [31]:
grid_model.best_score_

0.98014888337468986

In [32]:
grid_model.best_params_

{'C': 100, 'gamma': 0.1, 'kernel': 'rbf'}