In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score,confusion_matrix,r2_score,classification_report

In [2]:
data=pd.read_csv('car_evaluation.csv')

In [3]:
data.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [5]:
data.shape

(1727, 7)

In [6]:
data=data.rename(columns={'vhigh':'buying','vhigh.1':'maint','2':'doors','2.1':'persons','small':'lug_boot','low':'safety','unacc':'outcome'})

In [7]:
data.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
outcome     0
dtype: int64

In [8]:
enc=LabelEncoder()
data.buying=enc.fit_transform(data.buying)
data.maint=enc.fit_transform(data.maint)
data.lug_boot=enc.fit_transform(data.lug_boot)
data.safety=enc.fit_transform(data.safety)
#data.outcome=enc.fit_transform(data.outcome)

In [9]:
data.head()

   buying  maint doors persons  lug_boot  safety outcome
0       3      3     2       2         2       2   unacc
1       3      3     2       2         2       0   unacc
2       3      3     2       2         1       1   unacc
3       3      3     2       2         1       2   unacc
4       3      3     2       2         1       0   unacc

In [108]:
x=data.loc[:,['buying','maint','lug_boot','safety']]
y=data.iloc[:,-1]

In [109]:
x.head()

   buying  maint  lug_boot  safety
0       3      3         2       2
1       3      3         2       0
2       3      3         1       1
3       3      3         1       2
4       3      3         1       0

In [110]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=10)

In [114]:
model_svm=SVC()

In [115]:
model_svm.fit(x_train,y_train)

/home/dell/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [112]:

pred=model_svm.predict(x_test)
print(accuracy_score(y_test,pred))
pd.crosstab(y_test,pred)

0.7071290944123314

/home/dell/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

col_0    acc  good  unacc  vgood
outcome
acc       28     0     94      1
good       0     3      9      4
unacc     24     4    321      9
vgood      0     0      7     15